/* carousel home esquerda */
.carousel-banner{
    display: flex;
}
.carousel-left{
    width: 50%;
}
.carousel .carousel-inner .carousel-item{
    height: 360px;
}
.carousel .carousel-inner .carousel-item .carousel-content h2.title{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    margin: 0;
}
/* carousel home direita */
.carousel-right{
    width: 50%;
}
.carousel-right .carousel-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.carousel-right .carousel-content .item{
    position: relative;
    width: 50%;
    height: 180px;
}
.carousel-right .carousel-content .item img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.carousel-right .carousel-content .item .subtitle{
    font-size: 14px;
    position: absolute;
    bottom: 0;
    padding: 8px;
    margin: 0;
    color: #fff;
}

/* categoria inicio highlight  */
.category-highlight {
    display: flex;
    margin: 32px;
}
.category-highlight .item {
    position: relative;
}
.category-highlight .item h2.subtitle {
    position: absolute;
    bottom: 0;
    margin: 0;
    color: #fff;
    font-size: 14px;
    padding: 8px;
}
/* categoria fim highlight  */

/* carousel single */
