.content-img {
    display: grid;
    justify-items: center;
}
.content-img img {
    width: 570px;
    height: 317px;
    object-fit: cover;
}

.single .creator .description,
.single .creator .category,
.single .creator .date,
.single .creator .author {
    font-size: 14px;
}
.single .creator .category,
.single .creator .date,
.single .creator .author {
    margin-right: 16px;
}

.single .about-author {
    margin: 24px 0 48px 0;
}
.single .about-author .align{
    display: flex;
}
.single .about-author .align img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}
.single .about-author .align .desc {
    margin-left: 16px;
}
.single .about-author .author {
    font-size: 24px;
}
.single .about-author .name {
    font-size: 18px;
}

/* inicio related post */
.related-post .conteudo{
  display: flex;
}
.related-post .conteudo .items{
  width: 25%;
  margin-right: 8px;
}
.related-post .conteudo .items .entry img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.related-post .conteudo .items .entry .name {
  font-size: 16px;
  margin-top: 4px;
  color: #000;
}
/* fim related post */

/* comentarios */
.single .comments textarea {
  width: 100%;
  border: 2px solid #dedede;
}
.comments-itens{
  display: flex;
  justify-content: space-between;
}
.comments-itens input{
  width: 45%;
}

